<h1><%= @invoice.id %></h1>

<h3><%= @invoice.status %></h3>
<h3><%= @invoice.created_at.strftime("%A, %B %d, %Y") %></h3>
<h3>Total Invoice Revenue: $<%= @invoice.total_revenue %></h3>
<h3>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></h3>

<%= render partial: 'invoice_items', locals: { invoice: @invoice } %>
