<section class="enabled_merchants">
<h3>Enabled Merchants</h3>

<center>
<ul>
  <% merchants.enabled.each do |merchant| %>
    <div id="merchant-<%= merchant.id %>">
      <li><p><%= link_to "#{merchant.name}", admin_merchant_path(merchant) %>
        <%= button_to  "Disable Merchant", admin_merchant_path(merchant, {status: :disable}), method: :patch %>
      </p></li>
    </div>
  <% end %>
</ul>
</section>
</center>

<section class="disabled_merchants">
<h3>Disabled Merchants</h3>

<center>
<ul>
  <% merchants.disabled.each do |merchant| %>
    <div id="merchant-<%= merchant.id %>">
      <li><p><%= link_to "#{merchant.name}", admin_merchant_path(merchant) %>
        <%= button_to  "Enable Merchant", admin_merchant_path(merchant, {status: :enable}), method: :patch %>
      </p></li>
    </div>
  <% end %>
</ul>
</section>
</center>
