<div class="container">
<h2>All items on Invoice:</h2>
  <ul>
    <% @merchant.invoice_items.each do |invoice_item| %>
      <div id="invoice_item-<%= invoice_item.id %>">
        Item Name: <%= invoice_item.item.name %>
        Quantity: <%= invoice_item.quantity %>
        <%= render partial: "dropdown", locals: {invoice_item: invoice_item} %>
        <% if !invoice_item.discount_applied.nil? %>
          Discount Applied: <%= link_to "#{invoice_item.discount_applied.name}",
          merchant_discount_path(@merchant, invoice_item.discount_applied) %>
        <% else %>
        <% end %>
      </div>
    </ul>
  <% end %>
</div>
