<h1>Invoice ID: <%= @invoice.id %></h1>
<h3>Invoice Status: <%= @invoice.status %></h3>
<h3>Created: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></h3>
<center><h2>Customer Information: </h2></center>
<h3>Name: <%= @invoice.customer.first_name.concat(" " + @invoice.customer.last_name) %></h3>
<h3>Total Revenue: $<%=  @invoice.total_revenue_for_merchant(@merchant) %></h3>
<%= render partial: "invoice_items", locals: {
  invoice: @invoice, merchant: @merchant } %>
