<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
        <ul>
        <li><%= link_to "Merchants Home", merchants_path, class: "link" %></li>
        <li><%= link_to "Admin Merchants", admin_merchants_path, class: "link" %></li>
        <li><%= link_to "Admin Invoices", admin_invoices_path, class: "link" %></li>
        <li><%= link_to "Admin Home", admin_index_path, class: "link" %></li>
        <li><%= link_to "Home", root_path, class: "link" %></li>
        </ul>
    </nav><br>

    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
